{
  "mysql": {
    "source":"mysql",
    "flink_tbl": "<your flink_table_name>",
    "database": "<your mysql database>",
    "table_name": "<your mysql table>",
    "host":"<mysql host id>",
    "port":"3306",
    "user": "<mysql user>",
    "password": "<user password>",
    "connector_type": "jdbc"
  },
  "s3": {
    "flink_tbl": "<your flink_table_name>",
    "s3_tbl": "<s3 sync table>",
    "s3_connector_type": "filesystem",
    "path": "<s3 storage path>",
    "format": "csv"
  }
}